<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheng.cms.rpc.mapper.CmsArticleVOMapper">

	<!-- 排序上移 -->
	<select id="up" resultType="int" parameterType="int">
		select
			u.id u_id,u.username,u.password,u.nickname,u.sex,u.ctime,u.content,
			b.id b_id,b.userid,b.name
		from
			cms_user u
		left join
			cms_book b
		on
			u.id=b.userid
		where
			u.id=#{id,jdbcType=INTEGER}
	</select>

	<!-- 缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

</mapper>