<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <dubbo:application name="zheng-demo-web"/>

    <dubbo:registry file="./zheng-demo-web-dubbo.cache" address="zookeeper://zkserver:2181"/>

    <!-- 订阅服务 -->
    <dubbo:consumer check="false"/>

    <dubbo:reference id="upmsSystemService" interface="com.zheng.demo.rpc.api.DemoService" mock="true"/>

</beans>