<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <dubbo:application name="zheng-ucenter-web"/>

    <dubbo:registry file="./zheng-ucenter-web-dubbo.cache" address="zookeeper://127.0.0.1:2181"/>

    <!-- 订阅服务 -->
    <dubbo:consumer check="false"/>

    <!-- 认证方式 -->
    <dubbo:reference id="ucenterOauthService" interface="com.zheng.ucenter.rpc.api.UcenterOauthService" mock="true"/>
    <!-- 用户认证 -->
    <dubbo:reference id="ucenterUserOauthService" interface="com.zheng.ucenter.rpc.api.UcenterUserOauthService" mock="true"/>
    <!-- 用户操作日志 -->
    <dubbo:reference id="ucenterUserLogService" interface="com.zheng.ucenter.rpc.api.UcenterUserLogService" mock="true"/>
    <!-- 用户 -->
    <dubbo:reference id="uenterUserService" interface="com.zheng.ucenter.rpc.api.UcenterUserService" mock="true"/>
    <!-- 用户详情 -->
    <dubbo:reference id="ucenterUserDetailsService" interface="com.zheng.ucenter.rpc.api.UcenterUserDetailsService" mock="true"/>
    <!-- 接口服务 -->
    <dubbo:reference id="ucenterApiService" interface="com.zheng.ucenter.rpc.api.UcenterApiService" mock="true"/>

</beans>