.idea
.classpath
.project
*.iml
*.eml
target
*.log
*.log.*
**/resources/zheng-admin
generatorConfig.xml
.DS_Store
*.cache
*.lock
/build/
*.settings
doc
docker/data/mysql/data/*
docker/data/mysql/conf/*
!docker/data/mysql/data/.gitkeep
!docker/data/mysql/conf/.gitkeep
docker/data/redis/data/*
docker/data/redis/conf/*
!docker/data/redis/data/.gitkeep
!docker/data/redis/conf/.gitkeep
docker/data/activemq/data/*
docker/data/activemq/log/*
!docker/data/activemq/data/.gitkeep
!docker/data/activemq/log/.gitkeep
docker/data/nginx/logs/*
!docker/data/nginx/logs/.gitkeep