package ${package_name}.rpc.api;

import com.zheng.common.base.BaseService;
import ${package_name}.dao.model.${model};
import ${package_name}.dao.model.${model}Example;

/**
* ${model}Service接口
* Created by shuzheng on ${ctime}.
*/
public interface ${model}Service extends BaseService<${model}, ${model}Example> {

}