<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- 该包下的model不用写包名，会使用 model的首字母小写的非限定类名来作为它的别名，若有注解@Alias("xxx")，则别名为注解值 -->
	<typeAliases>
		<package name="com.zheng.cms.model" />
	</typeAliases>

</configuration>