<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheng.pay.dao.mapper.PayVestMapper">
  <resultMap id="BaseResultMap" type="com.zheng.pay.dao.model.PayVest">
    <id column="pay_vest_id" jdbcType="INTEGER" property="payVestId" />
    <result column="pay_type_id" jdbcType="INTEGER" property="payTypeId" />
    <result column="prefix" jdbcType="VARCHAR" property="prefix" />
    <result column="param" jdbcType="VARCHAR" property="param" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pay_vest_id, pay_type_id, prefix, param
  </sql>
  <select id="selectByExample" parameterType="com.zheng.pay.dao.model.PayVestExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pay_vest
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay_vest
    where pay_vest_id = #{payVestId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pay_vest
    where pay_vest_id = #{payVestId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zheng.pay.dao.model.PayVestExample">
    delete from pay_vest
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zheng.pay.dao.model.PayVest">
    insert into pay_vest (pay_vest_id, pay_type_id, prefix, 
      param)
    values (#{payVestId,jdbcType=INTEGER}, #{payTypeId,jdbcType=INTEGER}, #{prefix,jdbcType=VARCHAR}, 
      #{param,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zheng.pay.dao.model.PayVest">
    insert into pay_vest
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="payVestId != null">
        pay_vest_id,
      </if>
      <if test="payTypeId != null">
        pay_type_id,
      </if>
      <if test="prefix != null">
        prefix,
      </if>
      <if test="param != null">
        param,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="payVestId != null">
        #{payVestId,jdbcType=INTEGER},
      </if>
      <if test="payTypeId != null">
        #{payTypeId,jdbcType=INTEGER},
      </if>
      <if test="prefix != null">
        #{prefix,jdbcType=VARCHAR},
      </if>
      <if test="param != null">
        #{param,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zheng.pay.dao.model.PayVestExample" resultType="java.lang.Long">
    select count(*) from pay_vest
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pay_vest
    <set>
      <if test="record.payVestId != null">
        pay_vest_id = #{record.payVestId,jdbcType=INTEGER},
      </if>
      <if test="record.payTypeId != null">
        pay_type_id = #{record.payTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.prefix != null">
        prefix = #{record.prefix,jdbcType=VARCHAR},
      </if>
      <if test="record.param != null">
        param = #{record.param,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pay_vest
    set pay_vest_id = #{record.payVestId,jdbcType=INTEGER},
      pay_type_id = #{record.payTypeId,jdbcType=INTEGER},
      prefix = #{record.prefix,jdbcType=VARCHAR},
      param = #{record.param,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zheng.pay.dao.model.PayVest">
    update pay_vest
    <set>
      <if test="payTypeId != null">
        pay_type_id = #{payTypeId,jdbcType=INTEGER},
      </if>
      <if test="prefix != null">
        prefix = #{prefix,jdbcType=VARCHAR},
      </if>
      <if test="param != null">
        param = #{param,jdbcType=VARCHAR},
      </if>
    </set>
    where pay_vest_id = #{payVestId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zheng.pay.dao.model.PayVest">
    update pay_vest
    set pay_type_id = #{payTypeId,jdbcType=INTEGER},
      prefix = #{prefix,jdbcType=VARCHAR},
      param = #{param,jdbcType=VARCHAR}
    where pay_vest_id = #{payVestId,jdbcType=INTEGER}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>