<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <dubbo:application name="zheng-upms-rpc-service"/>

    <dubbo:registry protocol="zookeeper" address="127.0.0.1:2181"/>

    <dubbo:protocol name="dubbo" port="20881"/>

    <!-- 系统 -->
    <bean id="upmsSystemService" class="com.zheng.upms.rpc.service.impl.UpmsSystemServiceImpl"/>
    <dubbo:service interface="com.zheng.upms.rpc.api.UpmsSystemService" ref="upmsSystemService"/>

    <!-- 用户 -->
    <bean id="upmsUserService" class="com.zheng.upms.rpc.service.impl.UpmsUserServiceImpl"/>
    <dubbo:service interface="com.zheng.upms.rpc.api.UpmsUserService" ref="upmsUserService"/>

</beans>