<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

	<dubbo:application name="zheng-upms-server"/>

    <dubbo:registry protocol="zookeeper" address="127.0.0.1:2181"/>

	<!-- 订阅服务 -->
	<dubbo:consumer check="false" />

	<!-- 系统 -->
	<dubbo:reference id="upmsSystemService" interface="com.zheng.upms.rpc.api.UpmsSystemService" />
	<!-- 组织 -->
	<dubbo:reference id="upmsOrganizationService" interface="com.zheng.upms.rpc.api.UpmsOrganizationService" />
	<!-- 用户 -->
	<dubbo:reference id="upmsUserService" interface="com.zheng.upms.rpc.api.UpmsUserService" />
	<!-- 角色 -->
	<dubbo:reference id="upmsRoleService" interface="com.zheng.upms.rpc.api.UpmsRoleService" />
	<!-- 权限 -->
	<dubbo:reference id="upmsPermissionService" interface="com.zheng.upms.rpc.api.UpmsPermissionService" />
	<!-- 接口服务 -->
	<dubbo:reference id="upmsApiService" interface="com.zheng.upms.rpc.api.UpmsApiService" />

</beans>