<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <dubbo:application name="zheng-cms-admin"/>

    <dubbo:registry file="./zheng-cms-admin-dubbo.cache" address="zookeeper://127.0.0.1:2181"/>

    <!-- 订阅服务 -->
    <dubbo:consumer check="false"/>

    <!-- 文章 -->
    <dubbo:reference id="cmsArticleService" interface="com.zheng.cms.rpc.api.CmsArticleService" mock="true"/>
    <!-- 类目 -->
    <dubbo:reference id="cmsCategoryService" interface="com.zheng.cms.rpc.api.CmsCategoryService" mock="true"/>
    <!-- 评论 -->
    <dubbo:reference id="cmsCommentService" interface="com.zheng.cms.rpc.api.CmsCommentService" mock="true"/>
    <!-- 标签 -->
    <dubbo:reference id="cmsTagService" interface="com.zheng.cms.rpc.api.CmsTagService" mock="true"/>
    <!-- 专题 -->
    <dubbo:reference id="cmsTopicService" interface="com.zheng.cms.rpc.api.CmsTopicService" mock="true"/>
    <!-- 菜单 -->
    <dubbo:reference id="cmsMenuService" interface="com.zheng.cms.rpc.api.CmsMenuService" mock="true"/>
    <!-- 单页 -->
    <dubbo:reference id="cmsPageService" interface="com.zheng.cms.rpc.api.CmsPageService" mock="true"/>
    <!-- 设置 -->
    <dubbo:reference id="cmsSettingService" interface="com.zheng.cms.rpc.api.CmsSettingService" mock="true"/>
    <!-- 系统 -->
    <dubbo:reference id="cmsSystemService" interface="com.zheng.cms.rpc.api.CmsSystemService" mock="true"/>

    <!-- 接口服务 -->
    <dubbo:reference id="upmsApiService" interface="com.zheng.upms.rpc.api.UpmsApiService" mock="true"/>
</beans>